<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior" name="TSGALibrary.TSGASub">
                <clear />
                <endpoint address="CH" binding="wsDualHttpBinding" name="CHEP"
                    contract="TSGALibrary.IChanges" listenUriMode="Explicit">
                  <!-- 
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                    -->
                </endpoint>
                <endpoint address="PC" binding="basicHttpBinding" bindingConfiguration=""
                    name="PCEP" contract="TSGALibrary.IPathChanged" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7060/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>